.conteSection3 {
    position: absolute;
    color: #fff;
    width: 350px;
    right: 70px;
    z-index: 20;
}
.botones{
    display: flex;
    flex-direction: column;
}
.colorVende{
    font-weight: 800;
    color: #fd9f02;
}

.btnDespegar{
    background-color: #fd9f02;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    margin-top: 16px;
}

@media (max-width: 800px) {
    .conteSection3 {
        position: relative;
        color: #fff;
        width: 100%;
        right: 0px;
        padding: 20px;
    }
}