.parrafo{
    color: #ffffff;
    font-size: 20px;
    text-shadow: 1px 1px 1px #000000;
}
.content{
    position: absolute;
    top: 6%;
    left: 50px;
    width: 400px;
}
@media (max-width: 1000px) {
    .content{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px;
    }
}