.home2 {
    height: 1000px;
    width: 100%;
    background-image: url("/images/Home2.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

@media (max-width: 999px) {
    .home2 {
        height: 100%;
        width: 100%;
    }
}