.bot {
    right: 0;
    position: absolute;
    z-index: 30;
    bottom: 10px;
}

.botMovil {
    width: 124px;
    height: 65px;
    display: none;
}

@media (max-width: 850px) {
    .bot {
        bottom: 354px;
    }

    .botEscritorio {
        display: none;
    }
    .botMovil {
        display: block;
        width: 124px;
        height: 65px;
    }
}

@media (max-width: 375px) {
    .bot {
        bottom: 280px;
    }
}
