.nube {
    position: absolute;
    bottom: 240px;
    z-index: 30;
    right: 190px;
    animation: nube 3s infinite;
    cursor: pointer;

}

@keyframes nube {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.infoRobot {
    position: absolute;
    left: 37px;
    font-size: 13px;
    top: 2px;
    font-weight: 400;
    color: #023047;
}

.kruBot {
    color: #fd9f02;
    font-weight: 900;
}

@media (max-width: 850px) {
    .nubeEscritorio {

    }

}

@media (max-width: 850px) {

    .nube {
        bottom: 380px;
        right: 69px;
    }
}

@media (max-width: 375px) {
    .nube {
        bottom: 334px;
    }

}
