.general {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.video {
    position: relative;
    z-index: 2;
    perspective: 1000px;
}

.video video {
    width: 600px;
    border-radius: 30px;
}

.content_link {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;

}

.social {
    display: flex;
    align-items: center;
    background: #023047;
    border: solid 3px #fd9f02;
    border-radius: 50px;
    width: 300px;
    height: 50px;
    position: relative;
    overflow: hidden;
    inset: 3px;
    z-index: 2;
    padding: 3px;
}

.social span {
    position: absolute;
    width: 100%;
    height: 100%;
}

.social:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.56) 0%, rgba(0, 188, 255, 0.59) 100%);
    transform-origin: bottom;
    top: 0;
    left: 2px;
    animation: animate 7s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.social a {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #023047;
    color: #ffffff;
    border-radius: 50px;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    transition: 1s;
    padding: 0 20px;
    z-index: 2;
}

.social:before {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

}


.social a i {
    font-size: 30px;
}

.montaña {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.montaña img {
    width: 100%;
    height: 100%;
}

.nave {
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 1;
}

.nave img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

.buble {
    position: relative;
    display: flex;
}

.buble span {
    position: relative;
    width: 5px;
    height: 5px;
    background-color: #ffffff;
    margin: 0 4px;
    border-radius: 50%;
    opacity: 0.4;
    box-shadow: 0 0 0 2px #ffffff44,
    0 0 50px #ffffff,
    0 0 100px #ffffff;
    animation: animacion 1s linear infinite;
    animation-duration: calc(200s / var(--i));

}

.buble span:nth-child(even) {
    background-color: #fd9f02;
    box-shadow: 0 0 0 2px #fd9f0244,
    0 0 50px #12eaff,
    0 0 100px #fd9f02;
}


@keyframes animacion {
    0% {
        transform: translateY(0vh) scale(0.4);
    }
    100% {
        transform: translateY(100vh) scale(1);
    }

}



@media (max-width: 991px) {
    .nave {
        display: none;
    }

    .video video {
        max-width: 600px;
        min-width: 300px;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

@media (max-height: 900px) {
    .general{
        height: 900px;
    }
}