.contentConquista{

    position: relative;
    z-index: 1;
}
.contentConquista h2{
    width: 400px;
    font-size: 45px;
    margin: 0;
    color: #ffffff;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.62);
}

.contentConquista h2 span{
    color: #fb8501;
}

.contentConquista p{
    width: 400px;
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.62);
}
.contentConquista p:before{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #fd9f02;
    position: absolute;
    margin-top: 10px;
    margin-left: -17px;
    border-radius: 100%;
}

.contentConquista button{
    font-size: 18px;
    border: none;
    background-color: #fb8501;
    color: #ffffff;
    font-weight: bold;
    height: 40px;
    width: 100%;
    border-radius: 50px;
    cursor: pointer;
}

.contentConquista button:hover{
    background-color: #f9a03a;
}


@media (max-width: 800px) {
    .contentConquista h2{
        width: 100%;
    }
    .contentConquista p{
        width: 100%;
    }
}

@media (max-width: 650px) {
    .contentConquista h2{
        font-size: 35px;
    }
    .contentConquista p{
        font-size: 20px;
    }
}