
.empresa {
    z-index: 8;
    position: absolute;
    left: 0;
    right: 0;
}

.empresa .iconEmpresa {
    display: flex;
    color: #ffff;
    justify-content: flex-end;
}


.infoEmpresa {
    color: #89cde4;
    font-weight: 900;
    font-size: 36px;
    margin-top: 138px;
}

.logoKru {
    position: absolute;
    width: 150px;
    height: auto;
    top: 2rem;
    left: 2rem;
}





@media (max-width: 850px) {
    .infoEmpresa {
        font-size: 29px;
    }
    .nav {
        text-align: center;
    }

}

@media (max-height: 800px) {
    .infoEmpresa {
        margin-top: 50px;
    }
}



@media (max-width: 767px) {

    .logoKru {
        position: relative;
        left: auto;
    }
    .infoEmpresa {
        font-size: 23px;
        margin-top: 44px;
    }

}
