.nube {
    position: absolute;
    bottom: 215px;
    z-index: 30;
    right: 185px;

}
.infoRobot {
    position: absolute;
    left: 37px;
    font-size: 13px;
    top: 10px;
    font-weight: 400;
    color: #023047;
}

.kruBot {
    color: #fd9f02;
    font-weight: 900;
}

@media (max-width: 850px) {
    .nubeEscritorio {

    }

}

@media (max-width: 850px) {

    .nube {
        bottom: 414px;
        right: 51px;
    }
}

@media (max-width: 375px) {
    .nube {
        bottom: 346px;
    }

}
