.aceleracion {
    position: absolute;
    bottom: 50px;
    text-transform: uppercase;
    display: flex;
}
.textAceleracion{
    color: #fd9f02;
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 0;
}
.igual{
    font-size: 45px;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 0;
}
.titulo {
    font-size: 45px;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .aceleracion{
        display: block;
        text-align: center;
    }

}
