
.plantaTuBandera .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 200px;
    width: 600px;
}

.plantaTuBandera .title h2 {
    font-size: 45px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.plantaTuBandera .title h2 span {
    color: #fb8501;
}

.plantaTuBandera .title p{
    font-size: 20px;
    color: #fff;
    text-align: justify;
    text-shadow: 0 0 10px #000;
}

.plantaTuBandera .title button {
    background-color: #fb8501;
    width: 400px;
    height: 40px;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    font-weight: 900;
    cursor: pointer;
    transition: 1s;
}

.plantaTuBandera .title button:hover {
    background-color: #f9a03c;
}

@media (max-width: 767px) {
    .plantaTuBandera{
        padding: 0 40px;
    }
    .plantaTuBandera .title {
        width: 100%;
    }
}

@media (max-width: 619px) {
    .plantaTuBandera .title button {
        width: 80%;
    }
}