.navbar {
    position: fixed;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 40px;
    z-index: 1;
}

.navbar img{
    width: 140px;
    max-width: 100%;
    height: auto;
}
@media (max-width: 850px ) {
    .navbar {
        justify-content: center;
    }
}