.section {
    background-color: #023047;
    background-image: url("/images/fondo-planta-tu-bandera.jpg");
    background-size: cover;
    background-position: left;
    position: relative;
    z-index: 1;
    height: 120vh;
    width: 100%;
    overflow: hidden;
}

.section img {
    max-width: 100%;
    width: 100%;
    height: auto;
}


.rejas {
    width: 100%;
    position: absolute;
    bottom: -5px;
    margin: 0;
}

.rejas img {
    max-width: 100%;
}

.plataforma {
    position: absolute;
    bottom: 0;
    left: 30px;
}

.nave {
    position: absolute;
    bottom: 50px;
    left: 150px;
}

.nave2 {
    position: absolute;
    bottom: 0;
    left: 350px;
}

.nave3 {
    position: absolute;
    bottom: 0;
    left: 500px;
}

.antenas {
    position: absolute;
    bottom: 0;
    left: 600px;
}

.estacion {
    position: absolute;
    bottom: 0;
    right: 0;
}

.estacion:before {
    content: "";
    position: absolute;
    top: -223px;
    left: -123px;
    width: 333px;
    height: 306px;
    background-image: url("/images/luz-control.png");
    background-repeat: no-repeat;
    animation: luz 1s infinite;
}

@keyframes luz {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;

}

.luna {
    position: absolute;
    right: 100px;
    top: 200px;
}

@media (max-width: 1430px) {
    .luna {
        position: absolute;
        right: 100px;
        top: 450px;
    }

    .plataforma {
        left: -100px;
    }

    .nave {
        left: 20px;
    }

    .nave2 {
        left: 220px;
    }

    .nave3 {
        left: 370px;
    }

    .estacion {
        right: -150px;
    }
}

@media (max-width: 1000px) {
    .luna {
        right: -100px;
        opacity: .2;

    }
}

@media (max-width: 800px) {
    .nave {
        bottom: 35px;
        left: -150px;
        width: 300px;
    }

    .plataforma {
        left: -200px;
        width: 400px;
    }

    .nave2 {
        left: 0;
    }

    .nave3 {
        left: 120px;
    }

    .estacion {
        right: -250px;
    }

    .antenas {
        left: 200px;
        width: 120px;
    }
}

@media (max-width: 600px) {

    .estacion {
        display: none;
    }


}