.section {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #023047;
    z-index: 2;

}

.title {
    display: flex;
    justify-content: center;
    height: 100px;
    padding: 0 40px;
}

.title h2 {
    font-size: 45px;
    margin: 0;
    color: #ffffff;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.title h2 span {
    color: #fb8501;
}

.multimedia {
    width: 100%;
    height: 100%;
}

.multimedia video {
    width: 100%;
    height: 100%;
}

.content .content_1, .content_2 {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    padding: 0 40px;
}

.content .content_1 {
    position: absolute;
    top: 200px;
    left: 100px;
}

.content .content_1 p {
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    text-shadow: #000 1px 0 7px;
    text-align: justify;
}

.btn_escritorio {
    background-color: #fb8501;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
    height: 40px;
    transition: 1s;
}

.btn_escritorio:hover {
    background-color: transparent;
    color: #fb8501;
    border: 2px solid #fb8501;
}

.btn_movil {
    background-color: #fb8501;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
    height: 40px;
    transition: 1s;
    display: none;

}

.btn_movil:hover {
    background-color: transparent;
    color: #fb8501;
    border: 2px solid #fb8501;
}

.content .content_2 {
    position: absolute;
    bottom: 300px;
    right: 100px;
}

.content .content_2 p {
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    text-shadow: #000 1px 0 7px;
    text-align: justify;
}


@media (max-width: 1200px) {
    .content .content_1, .content_2 {
        width: 400px;
    }

}

@media (max-width: 1070px) {
    .section {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .content_1 button {
        width: 500px;
    }

    .content .content_1 {
        position: relative;
        top: 0;
        left: 0;
    }

    .content .content_2 {
        position: relative;
        bottom: 0;
        right: 0;
    }

    .btn_escritorio {
        display: none;
    }

    .btn_movil {
        display: block;
    }

    .content .content_1, .content_2 {
        width: 800px;
    }
}

@media (max-width: 885px) {
    .content .content_1, .content_2 {
        width: 100%;
    }
}