.botBandera{
    position: absolute;
    bottom: 0;
    width: 450px !important;
}

.contenedorVideo{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}