.section {
    position: relative;
    background-color: #023047;
    height: 100%;
    z-index: 3;
    display: flex;
    flex-direction: column;
}

.parallaxCieloTexto {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    transform: revert;
}


.parallaxCieloTexto h2 {
    font-size: 120px;
    margin: 20px 0;
    color: #ffffff;
    font-weight: 900;
    text-shadow: 1px 0 7px rgba(0, 0, 0, 0.64);
}

.grupo1 {
    height: 100vh;
}


.grupo2 img {
    height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;

}

.nave {
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 0;
}

.fondo_efecto {
    width: 100%;
    height: 100vh;
    position: sticky;
    bottom: 0;
    overflow: hidden;
}

.fondo_efecto img {
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    height: 100%;

}

@media (max-width: 1800px) {
    .parallaxCieloTexto h2 {
        font-size: 100px;
    }
}

@media (max-width: 1550px) {
    .parallaxCieloTexto h2 {
        font-size: 80px;
    }
}

@media (max-width: 1300px) {
    .parallaxCieloTexto h2 {
        font-size: 60px;
    }

}

@media (max-width: 600px) {
    .parallaxCieloTexto h2 {
        font-size: 40px;
    }
}