.logoKru {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.logoKruMovil {
    display: none;
}

@media (max-width: 850px) {

    .nav {
        text-align: center;
    }
    .logoKru {
        display: none;
    }

    .logoKruMovil {
        position: relative;
        top: 21px;
        left: auto;
        display: initial;
        width: 37%;
    }
}

@media (max-width: 767px) {

    .logoKru {
        position: relative;
        top: 21px;
        left: auto;
    }

}
