.home9{
    height: 120vh;
    width: 100%;
    background-size: cover;
    position: relative;
    background-image: url("/images/estacionamiento.jpg");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;

}