.parrafo{
    color: #ffffff;
    font-size: 20px;
    text-shadow: 1px 1px 1px #000000;
}
.content{
    position: absolute;
    bottom: 300px;
    right: 50px;
    width: 400px;
}
@media (max-width: 1000px) {
    .content{
        position: relative;
        bottom: -30px;
        right: 0;
        width: 100%;
        padding: 20px;
    }
}
.spoiler{
    color: #fd9f02;
    font-weight: 800;
}